body{

    background-image: url("https://img.freepik.com/foto-gratis/reloj-playa-tiempo-concepto-negocio_1204-346.jpg?w=2000");
    background-repeat: no-repeat;
  background-size: cover;
  height: 100vp;
}

.card{
    width: 10%;
    height: 10vw;
    display: flex;
    justify-content: center;
    border-radius:100% ;
    font-size: 3vw;
    margin: 3px;
    border:solid 0.5vw rgba(236, 226, 198);
    color:rgba(236, 226, 198);

   
}

i{

    font-size: 8vw;
}
