.card{
    width: 10%;
    height: 10vw;
    display: flex;
    justify-content: center;
    border-radius:100% ;
    font-size: 3vw;
    margin: 3px;
    border:solid 0.5vw yellow;
   
}
i{

    font-size: 8vw;
}