body{

background-image: url("https://img.freepik.com/foto-gratis/reloj-playa-tiempo-concepto-negocio_1204-346.jpg?w=2000");
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
font-size: 3rem;


}

.card{
    width: 10%;
    height: 10vw;
    display: flex;
    justify-content: center;
    border-radius:100% ;
    font-size: 3vw;
    margin: 3px;
    border:solid 0.5vw rgba(236, 226, 198);
    color:rgba(236, 226, 198);
    text-align: center;

   
}
.cardown{

   
    display: flex;
    flex-direction:row;
     
   }
h2{
    
    width: 50vw;
    height: 5vw;
}

i{

    font-size: 8vw;
}
input{
    text-align: center;
    border-radius:20% ;
    margin-left: 5px;
    width: 8vw;
    height: 4vw;
    font-size: 2vw;
    border:solid 0.5vw rgba(236, 226, 198);
    color:rgba(216, 216, 10, 0.751);
    background-color: rgba(236, 226, 198);
    display: flex;
    align-self: center;
    
}